@mixin grid($colums, $rows, $gap){
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
    grid-template-rows: ($rows, 1fr);
    gap: $gap;
    align-items: center;
    justify-items: center;
}

@mixin flex-simple{
    display: flex;
    gap: 2.4rem;
}

@mixin galery-img($img-path){
    width: 100vh;
    height: 100vh;
    background-image: url($img-path);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


